.checkbox {
    margin-bottom: 11px;

    &__box {
        position: absolute;

        width: 20px;
        height: 20px;

        margin-right: 10px;
    }

    &__text {
        &_rich {
            @include set-font(normal, normal, 12px, 14px, $dark50);
            width: 230px;
        }

        &_common {
            @include set-font(normal, normal, 12px, 18px, $dark50);
            width: 180px;
        }
    }

    &__title {
        @include set-font(normal, bold, 14px, 18px, $dark75);
        width: 230px;
        margin-bottom: 5px;
    }

    &__content {
        margin-left: 30px;
        padding-top: 1px;
    }

    &__input {
        opacity: 0;
        height: 0;
        width: 0;
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: white;

        border: 1px solid rgba(70, 72, 145, 0.25);
        border-radius: 4px;

        -webkit-transition: border-color 0.4s;
        transition: border-color 0.4s;

        cursor: pointer;
    }

    &__body:before {
        position: absolute;
        content: "";
        left: 3px;
        bottom: 3px;
        background: rgba(185, 187, 221, 0);
    }

    &__input:checked + &__body {
        border-color: #bc9cff;
    }

    &__input:checked + &__body::before {
        content: "г";
        font-weight: bold;

        left: 30%;
        bottom: -15%;

        color: rgba(0, 0, 0, 0);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);

        transform: rotateZ(225deg);
    }
}
