mixin checkbox(addClass = "", text)
    div(class = `checkbox ${addClass}`)
        label.checkbox__box
            input.checkbox__input(type="checkbox")
            span.checkbox__body
        lable.checkbox__text #{text}