mixin filter-date-dropdown({addClass})
    div(class = `filter-date-dropdown ${addClass}`)
        .filter-date-dropdown__part
            h3.filter-date-dropdown__head filter date dropdown
            input.filter-date-dropdown__input(placeholder = "ДД ММ - ДД ММ", readonly="")
            span.filter-date-dropdown__arrow.icon-expand
        .filter-date-dropdown__calendar.filter-date-dropdown__calendar_invis
            include ../calendar/calendar.pug
        
