.udobstvo {
    display: flex;
    flex-direction: row;

    &__icon {
        position: relative;

        width: 36px;
        height: 38px;
        background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &__icon-void {
        position: absolute;

        height: 10px;
        width: 12px;

        top: 0;
        left: 0;

        background-color: white;
    }

    &__icon-void::before {
        content: "";
        position: absolute;

        height: 18px;
        width: 12px;

        top: 0;
        left: 24px;

        background-color: white;
    }

    &__icon-frame {
        width: 4px;
        height: 4px;

        background: white;
    }

    #frame1 {
        position: absolute;

        left: 4px;
        bottom: 4px;
    }

    #frame2 {
        position: absolute;

        left: 4px;
        bottom: 12px;
    }

    #frame3 {
        position: absolute;

        left: 4px;
        bottom: 20px;
    }

    #frame4 {
        position: absolute;

        left: 16px;
        bottom: 4px;
    }

    #frame5 {
        position: absolute;

        left: 16px;
        bottom: 12px;
    }

    #frame6 {
        position: absolute;

        left: 16px;
        bottom: 20px;
    }

    #frame7 {
        position: absolute;

        left: 16px;
        bottom: 28px;
    }

    #frame8 {
        position: absolute;

        left: 28px;
        bottom: 4px;
    }

    #frame9 {
        position: absolute;

        left: 28px;
        bottom: 12px;
    }

    &__icon-roof-left {
        position: absolute;

        width: 6px;
        height: 6px;

        clip-path: polygon(0 0, 0% 100%, 100% 0);

        background: white;

        top: 0px;
        left: 12px;
    }

    &__icon-roof-right {
        content: "";

        position: absolute;

        width: 6px;
        height: 6px;

        clip-path: polygon(0 0, 100% 100%, 100% 0);

        background: white;

        right: 12px;
    }

    &__content {
        margin-left: 10px;
    }

    &__head {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;

        color: rgba(31, 32, 65, 0.75);
    }

    &__body {
        font-size: 14px;
        line-height: 24px;

        color: rgba(31, 32, 65, 0.75);
    }
}
