.udobstvo
    .udobstvo__icon
        .udobstvo__icon-void
        .udobstvo__icon-frame#frame1
        .udobstvo__icon-frame#frame2
        .udobstvo__icon-frame#frame3
        .udobstvo__icon-frame#frame4
        .udobstvo__icon-frame#frame5
        .udobstvo__icon-frame#frame6
        .udobstvo__icon-frame#frame7
        .udobstvo__icon-frame#frame8
        .udobstvo__icon-frame#frame9
        .udobstvo__icon-roof-left
        .udobstvo__icon-roof-right
    .udobstvo__content
        .udobstvo__head Удобство
        .udobstvo__body Окно в каждой из спален