mixin text-field({addClass, name, placeholder, type})
  div(class=`text-field ${addClass}`)
    if name
      h3.text-field__head #{name}
    input.text-field__input(type=type placeholder=placeholder)
