@import "./fonts.scss";
@import "./icons.scss";

$dark100: rgba(31, 32, 65, 1);
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark5: rgba(31, 32, 65, 0.05);

$max-width-container: 1920px;

$break-point-1: 1000px;
$break-point-2: 700px;
$break-point-3: 450px;

@mixin set-font($style, $weight, $size, $line-height, $color) {
    font-family: Montserrat;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    @include set-font(normal, bold, 24px, 29px, $dark100);
}

h2 {
    @include set-font(normal, bold, 19px, 23px, $dark100);
}

h3 {
    @include set-font(normal, bold, 12px, 15px, $dark100);
    text-transform: uppercase;
}

body {
    @include set-font(normal, normal, 14px, 24px, $dark75);
}

a {
    text-decoration: none;
    @include set-font(normal, normal, 14px, 17px, $dark50);
}

@import "../UI/text-field/text-field.scss";
@import "../UI/radio/radio.scss";
@import "../UI/switcher/switcher.scss";
@import "../UI/checkbox/checkbox.scss";
@import "../UI/btn/btn.scss";
@import "../UI/calendar/calendar.scss";
@import "../UI/dropdown/dropdown.scss";
@import "../UI/masked-text-field/masked-text-field.scss";
@import "../UI/subscription-text-field/subscription-text-field.scss";
@import "../UI/expandable-checkbox-list/expandable-checkbox-list.scss";
@import "../UI/bullet-list/bullet-list.scss";
@import "../UI/like-button/like-button.scss";
@import "../UI/date-dropdown/date-dropdown.scss";
@import "../UI/filter-date-dropdown/filter-date-dropdown.scss";
@import "../UI/dropdown-mini/dropdown-mini.scss";
@import "../UI/pagination/pagination.scss";
@import "../UI/comfort/comfort.scss";
@import "../UI/udobstvo/udobstvo.scss";
@import "../UI/comment/comment.scss";

@import "../UI/Cards/find-room/find-room.scss";
@import "../UI/Cards/registr/registr.scss";
@import "../UI/Cards/login/login.scss";
@import "../UI/Cards/room-info/room-info.scss";
@import "../UI/Cards/card/card.scss";

@import "../UI/header/header.scss";
@import "../UI/footer/footer.scss";

@import "../landing.scss";
@import "../pages/registration.scss";
@import "../pages/signIn.scss";
@import "../pages/search.scss";
