doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Регистрация
    body 
        .registration
            include ../UI/header/header.pug
            +header({addClass:"registration__header", name:""})
            main.registration__body 
                .registration__contaienr 
                    include ../UI/Cards/registr/registr.pug
                    +registr({addClass:"registration__registr"})

            include ../UI/footer/footer.pug
            +footer({addClass:"registration__footer"})