.registration {
    &__body {
        width: 100%;
        height: 684px;

        background: url(../img/backgroung/regestration_background.svg);
    }

    &__contaienr {
        max-width: $max-width-container;
        margin: 0 auto;
        padding-left: 35%;
        padding-top: 20px;
    }

    &__registr {
    }

    &__footer {
    }

    // & { }
}
