doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Войти
    body 
        .signIn
            include ../UI/header/header.pug
            +header({addClass:"signIn__header", name:""})

            main.signIn__body 
                .signIn__container
                    include ../UI/Cards/login/login.pug
                    +login({addClass:"signIn__login"})
            
            include ../UI/footer/footer.pug 
            +footer({addClass:"signIn__footer"})