mixin masked-text-field({addClass})
  div(class = `masked-text-field ${addClass}`)
    h3.masked-text-field__head Дата рождения
    input.masked-text-field__input(type='text' placeholder='ДД.ММ.ГГГГ')
