.card {
    width: 270px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    &__img-cont {
        position: relative;
        width: 270px;
        height: 151px;
    }

    &__img {
        border-radius: 4px 4px 0 0;
        position: absolute;
        opacity: 0;
        transition: 0.4s;
    }

    &__img_w {
        opacity: 1;
        transition: 0.4s;
    }

    &__arrow {
        position: absolute;
        cursor: pointer;
        background: rgba($color: #000000, $alpha: 0);
        border-radius: 20%;
        transition: 0.4s;
    }

    &__arrow:hover {
        background: rgba($color: #000000, $alpha: 0.2);
        transition: 0.4s;
    }

    &__arrow_back {
        transform: rotateZ(90deg);
        left: 18px;
        top: 63px;
    }

    &__arrow_forward {
        transform: rotateZ(-90deg);
        right: 18px;
        top: 63px;
    }

    &__arrow::after {
        content: "\e901";
        color: white;
        font-size: 8px;
    }

    &__switchers {
        width: 40px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        right: 16px;
        top: 129px;
    }

    &__switcher {
        position: relative;
        width: 6px;
        height: 6px;
    }

    &__switcher-body {
        position: absolute;
        width: 6px;
        height: 6px;
        border: 1px solid white;
        border-radius: 50%;
        background: rgba($color: #000000, $alpha: 0);
        cursor: pointer;
        transition: 0.4s;
    }

    &__switcher-box:checked + &__switcher-body {
        background: white;
        transition: 0.4s;
    }

    &__switcher-box {
        width: 0;
        height: 0;
        opacity: 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-top: 13px;
    }

    &__container {
        width: 233px;
        margin: 0 auto;
    }

    &__header {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__room-inf {
        font-weight: bold;
        line-height: 17px;
        color: #1f2041;

        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    &__num-room {
        font-size: 20px;
        line-height: 17px;

        color: #1f2041;
    }

    &__num-room::before {
        content: "№ ";
        font-size: 14px;
        line-height: 17px;

        color: #1f2041;
    }

    &__num {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    &__room-type {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;

        color: #bc9cff;
    }

    &__room-cost-inf {
        display: flex;
        flex-direction: row;
        color: rgba(31, 32, 65, 0.5);
        font-size: 12px;
    }

    &__room-cost {
        font-weight: bold;
        font-size: 14px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__room-cost::after {
        content: " в сутки";

        font-weight: normal;
        font-size: 12px;
        color: rgba(31, 32, 65, 0.5);
    }

    &__footer {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__stars {
        display: flex;
        flex-direction: row;
    }

    &__star {
        margin-left: 3px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }

    &__comments {
        display: flex;
        flex-direction: row;
        color: rgba(31, 32, 65, 0.5);
    }

    &__comments-num {
        font-weight: bold;
    }

    &__comments-num::after {
        content: " Отзывов";
        font-weight: normal;
    }
}
