.calendar
  .calendar__container
    .calendar__head
      .calendar__btn.calendar__btn-back
        .icon-arrow
      h2.calendar__month
      .calendar__btn.calendar__btn-next.icon-arrow
    table.calendar__body
    .calendar__footer
      .calendar__btn.calendar__btn-clear очистить
      .calendar__btn.calendar__btn-enter применить
