.expandable-checkbox-list {
    position: relative;
    width: 266px;

    &__head {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        background: white;
    }

    &__icon {
        cursor: pointer;

        transition: 0.4s;

        &_rot {
            transform: rotateZ(180deg);
        }
    }

    &__body {
        position: absolute;
        top: 30px;
        transition: 0.4s;
        // z-index: -1;

        &_invis {
            top: -100px;
            opacity: 0;
            visibility: hidden;
        }
    }

    &__checkbox {
        margin-top: 5px;
    }
}
