include ../checkbox/checkbox.pug
mixin expandable-checkbox-list(head, texts)
    .expandable-checkbox-list
        .expandable-checkbox-list__head
            h3.expandable-checkbox-list__name head 
            span.expandable-checkbox-list__icon.icon-expand 
        .expandable-checkbox-list__body.expandable-checkbox-list__body_invis
            - var i = 0;
            while i < texts.length
                +checkbox("expandable-checkbox-list__checkbox", texts[i])
                - i++;