mixin comfort({addClass})
    div(class = `comfort ${addClass}`)
        .comfort__icon 
            .comfort__icon-head 
            .comfort__icon-mouth
            .comfort__icon-eye
        .comfort__content
            .comfort__head Комфорт
            
            .comfort__body Шумопоглощающие стены