.date-dropdown {
    width: 320px;
    display: flex;
    justify-content: space-between;

    &__part {
        position: relative;
    }

    &__head {
        margin-bottom: 5px;
    }

    &__input {
        width: 150px;
        height: 44px;

        padding-left: 15px;

        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;

        @include set-font(normal, normal, 16px, 18px, $dark75);

        &::-webkit-input-placeholder {
            color: rgba(31, 32, 65, 0.75);
        }

        &:hover {
            border: 1px solid rgba(31, 32, 65, 0.5);
        }

        &:focus {
            outline: none;
            border: 1px solid rgba(31, 32, 65, 0.5);
        }

        cursor: pointer;
    }

    &__arrow {
        position: absolute;
        right: 0;
        top: 21px;

        width: 44px;
        height: 44px;

        display: flex;
        align-items: center;
        justify-content: space-around;

        cursor: pointer;
    }

    &__calendar {
        position: absolute;
        top: 70px;

        &_invis {
            top: -1000px;
        }
    }
}

// body {
//     background: green;
// }
