doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 123
    body
        include UI/checkbox/checkbox.pug
        +checkbox({text:"Можно с питомцами"})
        +checkbox({text:"Можно пригласить гостей (до 10 человек)"})
        +checkbox({text:"Ширина коридоров в номере не менее 91 см.", title:"Широкий коридор", type: "rich"})
        +checkbox({text:"На 1 этаже вас встретит специалист и проводит до номера.", title:"Помощник для инвалидов", type: "rich"})