.landing {
    &__header {
    }

    &__body {
        height: 830px;
        width: 100%;
        background: url(../img/backgroung/landing_background.svg) no-repeat;
    }

    &__content {
        max-width: 1100px;
        height: 100%;

        margin: 0 auto;

        padding-top: 70px;
    }

    &__find-room {
    }
}
