mixin switcher(name, text)
    .switcher
        label.switcher__box
            input.switcher__input(type='checkbox' id=name, checked="")
            span.switcher__body
        label.switcher__text #{text}
