mixin switcher({addClass, name, text})
    div(class = `switcher ${addClass}`)
        label.switcher__box
            input.switcher__input(type='checkbox' id=name, checked="")
            span.switcher__body
        label.switcher__text(for=name) #{text}
